//数值转化为宽度百分比
module.exports.topSpeed=function(value){
  return (value-200)*0.32
}

module.exports.acceleration=function(value){
  return (value-35)*1.75
}

module.exports.handling=function(value){
  return (value-20)*1.13
}

module.exports.nitro=function(value){
  return (value-15)*1.28
}

//wxs竟然不支持Array(9)这样的构造函数
module.exports.ArrayC=function(value){
  var res=[]
  for(var i=0;i<value;i++) {
    res.push('')
  }
  return res
}

//数量千分
module.exports.split3=function(value){
  var s=value.toString()
  var res=[]
  for(var i=0;i<s.length;i++){
    res.push(s[s.length-i-1])
    if(i<s.length-1 && (i+1)%3===0){
      res.push(',')
    }

  }
  return res.reverse().join('')
}